<!-- <div style="background-color: blue; height: 10px;"></div> -->
<div class="main-container">
    <!-- 标题 -->
    <h1 class="title">Rice University Research Repository</h1>
  
    <!-- 文字内容 -->
    <p class="lyrics">
        The Rice Research Repository (R-3) provides access to research 
        produced at Rice University, including theses and dissertations, 
        journal articles, research center publications, datasets, and 
        academic journals. Managed by Fondren Library, R-3 is indexed 
        by Google and Google Scholar, follows best practices for 
        preservation, and provides DOIs to facilitate citation. 
        Woodson Research Center collections, including Rice Images and 
        Documents and the Task Force on Slavery, Segregation, and 
        Racial Injustice, have moved <a href="https://digitalcollections.rice.edu/">here.</a>
    </p>
    
  
    <!-- 搜索框 -->
    <div class="search-box-container">
        <app-search-box (searchQuery)="search($event)"></app-search-box>
      </div>


      <div class="center-button">
        <a href="https://library.rice.edu/rice-research-repository-submission" class="btn btn-success" target="_blank" rel="noopener noreferrer">
          Deposit Your Work
        </a>
      </div>
  </div>

  <div class="communities-container">
    <div class="communities-inner">
      <h2>Communities</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">Rice University Graduate Electronic Theses and Dissertations</a></li>
        <li class="list-group-item"><a href="#">Faculty & Staff Research</a></li>
        <li class="list-group-item"><a href="#">Graduate and Undergraduate Student Research</a></li>
        <li class="list-group-item"><a href="#">Cultural Heritage Collections</a></li>
        <li class="list-group-item"><a href="#">Publications and Performances</a></li>
      </ul>
    </div>
   
  </div>

  