<footer class="custom-footer">
    <div class="container">
      <div class="row">
        <!-- 第一列 -->
        <div class="col-md-4">
          <h6>About</h6>
          <ul class="list-unstyled">
            <li><a href="#">About R-3</a></li>
            <li><a href="#">Report a Digital Accessibility Issue</a></li>
            <li><a href="#">Request Accessible Formats</a></li>
            <li><a href="#">Fondren Library</a></li>
          </ul>
        </div>
        <!-- 第二列 -->
        <div class="col-md-4">
          <h6>Support</h6>
          <ul class="list-unstyled">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Notice</a></li>
            <li><a href="#">R-3 Policies</a></li>
          </ul>
        </div>
        <!-- 第三列 -->
        <div class="col-md-4">
          <h6>Contact</h6>
          <address>
            Physical Address:<br />
            6100 Main Street, Houston, Texas 77005<br />
            Mailing Address:<br />
            MS-44, P.O.BOX 1892, Houston, Texas 77251-1892
          </address>
        </div>
      </div>
    </div>
  </footer>
  
